@()(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("bart"){

@request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
}

<div>
    <ul>
        <li>
            <a href="@routes.LogInController.openLogIn">Log in</a>
        </li>
        <li>
            <a href="@routes.UserController.openSignUp">Sign up</a>
        </li>
        <li>
            <a href="@routes.LogInController.logOut">Log out</a>
        </li>
        <li>
            Go to <a href="@routes.UserController.findAll">@routes.UserController.findAll</a>
        </li>
    </ul>
</div>
}
