@import forms.SignUpForm.Data

@(form: Form[Data])(implicit request: MessagesRequestHeader)

@main("Bart's sign up"){

    <h3>sign up</h3>

    @helper.form(routes.UserController.add){
        @helper.CSRF.formField

        @helper.inputText(form("username"))
        @helper.inputText(form("email"))
        @helper.inputText(form("password"))

        <button>Sign up</button>
    }

    @if(form.hasGlobalErrors){
        @form.globalErrors.map {error: FormError =>
        <div>
            @error.key: @error.message
        </div>
        }
    }

}
